.main {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  body {
    margin: 0;
    padding: 0;
  }
  .car {
    position: absolute;
    bottom: 30px;
    right: 0;
    animation: forward 5s infinite linear;
  }
  @keyframes forward {
    0%{
right: -10%;
    }
    100%{
right: 100%;
    }
  }
  .leftWheel {
    position: absolute;
    bottom: 3px;
    left: 68px;
    animation: rotate 3s infinite linear ;
  }
  .rightWheel {
    position: absolute;
    bottom: 5px;
  right: 85px;
 animation: rotate 3s infinite linear ;
  }
  @keyframes rotate{
0%{
    transform: rotate(360deg);
}
100%{
    transform:  rotate(0deg);
}






  }